<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main">



        <section class="page-text-container">

            <ul class="pop-message login-success">
                <%= messages[0] %>
            </ul>

            <h1 class="page-title">Welcome!</h1>
            <h3 class="page-subtitle">Your one stop shop for all of your cravings. Browse recipes, save your favorites,
                or create your own to share with the community</h3>
        </section>

        <section class="recipe-grid-container">



            <% let j=0; %>
                <% for (let i=recipes.length - 1; i>= 0; i--) { %>
                    <% if (j==3) { %>
                        <% break %>
                            <% } %>
                                <article class="card-container">
                                    <img class="recipe-card-pic" src="<%=recipes[i].img%>" alt="<%=recipes[i].name %>">
                                    <div class="recipe-card-text">
                                        <h2 class="recipe-card-title">
                                            <%=recipes[i].name %>
                                        </h2>
                                        <p class="recipe-card-caption">
                                            <%=recipes[i].summary%>
                                        </p>
                                        <a class="button-treat-sub recipe-card-button" href="/recipes">All
                                            Recipes</a>
                                    </div>


                                </article>
                                <% j++ %>
                                    <% } %>






        </section>
    </main>


    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>


    <script src="/js/script.js"></script>

</body>

</html>