<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main edit-user-page">
        <div class="edit-user-page-container">
            <h1 class="page-title">Edit Profile:</h1>
            <section class="form-container">

                <form class="edit-user-form-container" action="/users/<%=user._id%>?_method=PUT" method="POST">

                    <div class="form-row-container">
                        <label for="firstName">First Name:</label>
                        <input type="text" name="firstName" value="<%=user.firstName%>" required>                    
                    </div>                    

                    <div class="form-row-container">
                        <label for="lastName">Last Name:</label>
                        <input type="text" name="lastName" value="<%=user.lastName%>" required>                    
                    </div>                    

                    <div class="form-row-container">
                        <label for="email">Email:</label>
                        <input type="text" name="email" value="<%=user.email%>">                    
                    </div>                    
                    
                    <input class="button-treat-main form-button" type="submit" value="Update">
                </form>

                <section class="outside-form-container">
                    <div class="form-row-container">
                        <label for="img">Profile Photo:</label>
                        <a class="edit-user-link" href="/users/<%=user._id%>/updatephoto"><button>Update Photo</button></a>
                                         
                    </div>    
                    <div class="form-row-container">
                        <label for="password">Password:</label>
                        <a class="edit-user-link" href="/users/<%=user._id%>/editpassword"><button>Edit Password</button></a>
                    </div>
                </section>

            </section>
        </div>
    </main>





    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>