<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main edit-user-page">
        <div class="edit-user-page-container">
            <h1 class="page-title">Edit Profile:</h1>
            <section class="form-container">

                <form class="edit-user-form-container" action="/users/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" value="<%=user.firstName%>" required>

                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" value="<%=user.lastName%>" required>

                    <label for="email">Email:</label>
                    <input type="text" name="email" value="<%=user.email%>">

                    <label for="img">Profile Image URL:</label>
                    <input type="file" name="img" accept="image/png, image/jpeg" value="<%=user.img%>">

                    <input class="button-treat-main form-button" id="" type="submit" value="Update">
                </form>

                <a href="/users/<%=user._id%>/editpassword"><button>Edit Password</button></a>

            </section>
        </div>
    </main>





    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>