<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %> 
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs')  %> 
    </header>

    // THIS IS ALL OF THE USERS OF OUR FINE APPLICATION: //
    <ul>
        <% users.forEach(element=> { %>
            <li><a href="/users/<%=element._id%>">
                    <%= element.username %>
                </a>
                <% }); %>
            </li>
    </ul>

    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
    <script src="js/script.js"></script>
</body>

</html>