<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>


    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>

    <h2>This is <%= user.username %>'s page</h2>

    <% if (user._id==currentUserIdString) { %>
        <a href="/users/<%=user._id%>/edit"><button>Edit <%= user.username %></button></a>
        <% } %>

            <footer>
                <%- include('../partials/footer.ejs') %>
            </footer>
            <script src="/js/script.js"></script>
</body>

</html>