<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main user-profile-page">

        <section class="user-profile-grid">

            <section class="user-profile-info">
                <img class="user-profile-pic" src="<%=user.img%>" alt="<%=user.firstName%> <%=user.lastName%>">
                <h1 class="user-profile-title">Hi, <%=user.firstName%>
                        <%=user.lastName%>!</h1>
            </section>

            <section class="user-profile-recipe-grid create">
                <h1>Your Recipes</h1>
                <section class="recipe-grid-container user-page">
                    <% let j=0; %>
                        <% for (let i=recipesMadeArray.length - 1; i>= 0; i--) { %>
                            <% if (j==3) { %>
                                <% break %>
                                    <% } %>
                                        <article class="card-container">
                                            <img class="recipe-card-pic" src="<%=recipesMadeArray[i].img %>"
                                                alt="<%=recipesMadeArray[i].name%>">
                                            <div class="recipe-card-text">
                                                <h2 class="recipe-card-title">
                                                    <%=recipesMadeArray[i].name %>
                                                </h2>
                                                <a class="button-treat-sub recipe-card-button"
                                                    href="/recipes/<%=recipesMadeArray[i]._id%>">View</a>
                                            </div>
                                        </article>
                                        <% j++ %>
                                            <% } %>
                </section>
            </section>

            <section class="user-profile-recipe-grid save">
                <h1>Saved Recipes</h1>
                <section class="recipe-grid-container user-page">
                    <% let k=0 %>
                        <% for (let i=recipesSavedArray.length - 1; i>= 0; i--) { %>
                            <% if (k==3) { %>
                                <% break %>
                                    <% } %>
                                        <article class="card-container">
                                            <img class="recipe-card-pic" src="<%=recipesSavedArray[i].img%>"
                                                alt="<%=recipesSavedArray[i].name%>">
                                            <div class="recipe-card-text">
                                                <h2 class="recipe-card-title">
                                                    <%=recipesSavedArray[i].name %>
                                                </h2>
                                                
                                                <a class="button-treat-sub recipe-card-button"
                                                    href="/recipes/<%=recipesSavedArray[i]._id%>">View</a>
                                            </div>
                                        </article>
                                        <% k++ %>
                                            <% } %>
                </section>
            </section>



        </section>


    </main>


    <% if (user._id==currentUserIdString) { %>
        <a href="/users/<%=user._id%>/edit"><button>Edit <%= firstName %></button></a>
        <% } %>

            <footer>
                <%- include('../partials/footer.ejs') %>
            </footer>


            <script src="/js/script.js"></script>
</body>

</html>