<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main edit-recipe-page">
        <div class="edit-recipe-page-container">
            <h1 class="page-title">Edit Recipe</h1>
            <section class="form-container">
                <form class="edit-recipe-form-container" action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="form-row-container">
                        <label for="name">Recipe Name:</label>
                        <input type="text" name="name" value="<%=recipe.name%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <div>
                            <label for="ingredients">Ingredients:</label>
                            <p class="img-label-caption">(separate ingredients with a ',')</p>
                        </div>
                        <input type="text" name="ingredients" value="<%=recipe.ingredients%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <label for="summary">Description:</label>
                        <input type="text" name="summary" value="<%=recipe.summary%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <label for="instructions">Instructions:</label>
                        <input type="text" name="instructions" value="<%=recipe.instructions%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <label for="readyInMinutes">Ready In Minutes:</label>
                        <input type="number" name="readyInMinutes" value="<%=recipe.readyInMinutes%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <label for="serving">Serving:</label>
                        <input type="number" name="serving" value="<%=recipe.serving%>" required>                    
                    </div>

                    <div class="form-row-container">
                        <label for="img">Recipe Photo:</label>
                        <input type="file" name="img" accept="image/png, image/jpeg" value="<%=recipe.img%>" required>                    
                    </div>


                    <input class="button-treat-main form-button" id="" type="submit" value="Update">

                </form>


            </section>
        </div>
    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>