<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>

    <body>
        <header>
            <% if (isLoggedIn && (user._id == currentUserId)){ %>
                <%- include('../partials/header-full-nav.ejs')  %> 
            <% }else {%>
                <%- include('../partials/header-buttons-only-nav.ejs')  %> 
            <% }%>
        </header>

        <h1>THIS IS THE RECIPE INDEX RENDER PAGE</h1>

        <main>
            <% recipes.forEach((element )=> { %>
                <a href="/recipes/<%=element._id%>"><p><%=element.name %></p></a>
            <% }); %>
        </main>









        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>


    </body>

</html>