<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main">
        <section class="page-text-container">
            <h1 class="page-title">All Recipes</h1>
            <h3 class="page-subtitle">Browse all recipes.</h3>
        </section>

        <section class="recipe-grid-container">
            <% recipes.forEach(n=> {%>
                <article class="card-container">
                    <div class="like-container">
                        <img class="recipe-card-pic" src="<%=n.img %>" alt="<%=n.name%>">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="recipe-card-text">
                        <h2 class="recipe-card-title">
                            <%=n.name %>
                        </h2>
                        <p class="recipe-card-caption">
                            <%=n.summary%>
                        </p>

                        <section class="icon-container">

                            <!-- ICONS HARDCODED FOR SAMPLE RIGHT NOW -->
                            <div class="icon-wrapper">
                                <i class="fas fa-hamburger"></i>
                                <p class="icon-caption">main</p>
                            </div>
                            <div class="icon-wrapper">
                                <i class="fas fa-seedling"></i>
                                <p class="icon-caption">vegetarian</p>
                            </div>

                            <!-- LOGIC FOR ICONS ONCE RECIPE FORM INPUT AND MODEL SOLIDIFIED AND UPDATED -->
                            <% if (n.course==="main") { %>
                                <div class="icon-wrapper">
                                    <i class="fas fa-hamburger"></i>
                                    <p class="icon-caption">main</p>
                                </div>
                            <% }else if (n.course==="appetizer") { %>
                                <div class="icon-wrapper">
                                    <i class="fas fa-apple-alt"></i>
                                    <p class="icon-caption">snack</p>
                                </div>
                            <% }else if (n.course==="dessert") { %>
                                <div class="icon-wrapper">
                                    <i class="fas fa-cheese"></i>
                                    <p class="icon-caption">dessert</p>
                                </div>
                            <% } %> 

                            <% if (n.vegetarian) { %>
                                <div class="icon-wrapper">
                                    <i class="fas fa-seedling"></i>
                                    <p class="icon-caption">vegetarian</p>
                                </div>
                            <% } %> 
                        </section>
                        <a class="button-treat-sub recipe-card-button" href="/recipes/<%=n._id%>">View</a>
                    </div>
                </article>
                <% }) %>
        </section>
    </main>



    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>