<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main one-recipe-page">
        <article class="one-recipe-grid">
            <img class="one-recipe-container-img" src="<%=recipe.img%>" alt="<%=recipe.name%>">

            <section class="one-recipe-container-title">
                <h1 class="one-recipe-title">
                    <%=recipe.name%>
                </h1>
                <p class="one-recipe-text"><span class="text-span">By:</span>
                    <%=recipeCreator%>
                </p>
            </section>

            <section class="one-recipe-container-details">
                <p class="one-recipe-text"><span class="text-span">Yield:</span>
                    <%=recipe.serving%> servings
                </p>
                <p class="one-recipe-text"><span class="text-span">Time:</span>
                    <%=recipe.readyInMinutes%> minutes
                </p>
            </section>

            <section class="one-recipe-container-ingredients">
                <h3 class="one-recipe-subtitle">Ingredients</h3>
                <ul class="ingredients-list">
                    <% recipe.ingredients.forEach(n=> {%>
                        <li class="ingredients-list item one-recipe-text">
                            <%=n%>
                        </li>
                        <%})%>
                </ul>

                <h3 class="one-recipe-subtitle">Instructions:</h3>
                <p class="one-recipe-text">
                    <%=recipe.instructions%>
                </p>

                <% if (currentUser==recipeCreator){ %>
                    <a class="button-treat-main" href="/recipes/<%=recipe._id%>/edit">Edit</a>

                    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
                        <input class="button-treat-sub" type="submit" value="Delete">
                    </form>
                    <% } else { %>
                        <% if (isItInTheArray) { %>
                            <form action="/recipes/<%=recipe._id%>/unsaved" method="POST">
                                <input hidden name="recipeId" value="<%= recipe._id %>">
                                <input class="button-treat-main" type="submit" value="UnSave">
                            </form>
                            <% } else { %>
                                <form action="/recipes/<%=recipe._id%>/saved" method="POST">
                                    <input hidden name="recipeId" value="<%= recipe._id %>">
                                    <input class="button-treat-main" type="submit" value="Save">
                                </form>
                                <% } %>

                                    <% } %>


                                        <a class="back-button" href="javascript:history.back(-1)">Back</a>




            </section>
            <!-- <section class="one-recipe-container-instructions">
                

            </section> -->
        </article>

    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>