<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main one-recipe-page">
        <article class="one-recipe-grid">
            <img class="one-recipe-container-img" src="<%=recipe.img%>" alt="<%=recipe.name%>">

            <section class="one-recipe-container-title">
                <h1 class="one-recipe-title">
                    <%=recipe.name%>
                </h1>
                <p class="one-recipe-text"><span class="text-span">By:</span>
                    <%=creatorName%>
                </p>
                <p class="one-recipe-text heart">
                    <% if(recipe.savedCounter === 0) { %>
                        <% } else if (recipe.savedCounter === 1) { %>
                        <i class="fas fa-heart one-recipe"></i><%=recipe.savedCounter%>
                        save
                    <% } else { %>
                        <i class="fas fa-heart one-recipe"></i><%=recipe.savedCounter%>
                        saves
                    <% } %>                    
                </p>
            </section>

            <section class="one-recipe-container-details">
                <p class="one-recipe-text"><span class="text-span">Yield:</span>
                    <%=recipe.serving%> servings
                </p>
                <p class="one-recipe-text"><span class="text-span">Time:</span>
                    <%=recipe.readyInMinutes%> minutes
                </p>
                <section class="icon-container one-recipe">
                    <% if (recipe.course==="main" ) { %>
                        <div class="icon-wrapper">
                            <i class="fas fa-hamburger"></i>
                            <p class="icon-caption">main</p>
                        </div>
                        <% }else if (recipe.course==="appetizer" ) { %>
                            <div class="icon-wrapper">
                                <i class="fas fa-apple-alt"></i>
                                <p class="icon-caption">snack</p>
                            </div>
                            <% }else if (recipe.course==="dessert" ) { %>
                                <div class="icon-wrapper">
                                    <i class="fas fa-cheese"></i>
                                    <p class="icon-caption">dessert</p>
                                </div>
                                <% } %>

                                    <% if (recipe.vegetarian) { %>
                                        <div class="icon-wrapper">
                                            <i class="fas fa-seedling"></i>
                                            <p class="icon-caption">vegetarian</p>
                                        </div>
                                        <% } %>

                                            <% if (recipe.keto) { %>
                                                <div class="icon-wrapper">
                                                    <i class="fas fa-drumstick-bite"></i>
                                                    <p class="icon-caption">keto-friendly</p>
                                                </div>
                                                <% } %>

                </section>
            </section>

            <section class="one-recipe-container-info">

                <div class="info-section">
                    <h3 class="one-recipe-subtitle">Ingredients</h3>
                    <ul class="ingredients-list">
                        <% recipe.ingredients.forEach(n=> {%>
                            <li class="ingredients-list-item one-recipe-text"><i class="fas fa-circle"></i>
                                <%=n%>
                            </li>
                            <%})%>
                    </ul>
                </div>

                <div class="info-section">
                    <h3 class="one-recipe-subtitle">Instructions:</h3>
                    <p class="one-recipe-text">
                        <%=recipe.instructions%>
                    </p>
                </div>

                <div class="info-section-button">

                    <% if (currentUser) { %>
                        <% if (currentUser==recipeCreator){ %>
                            <a class="button-treat-main one-recipe-edit-button"
                                href="/recipes/<%=recipe._id%>/edit">Edit</a>

                            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
                                <input class="button-treat-sub one-recipe-delete-button" type="submit" value="Delete">
                            </form>
                            <% } else { %>
                                <% if (isItInTheArray) { %>
                                    <form action="/recipes/<%=recipe._id%>/unsave" method="POST">
                                        <input hidden name="recipeId" value="<%= recipe._id %>">
                                        <input class="button-treat-main save-unsave-button" type="submit"
                                            value="Unsave">
                                    </form>
                                    <% } else { %>
                                        <form action="/recipes/<%=recipe._id%>/saved" method="POST">
                                            <input hidden name="recipeId" value="<%= recipe._id %>">
                                            <input class="button-treat-main save-unsave-button" type="submit"
                                                value="Save">
                                        </form>
                                        <% } %>
                                            <% } %>
                                                <% } %>



                </div>

                <!--  -->
                <!-- let currentUrl = ';' -->
                <!-- < % let currentUrl = window.location.href %> 
                < % let previousUrl = history.back() %> 
                < % while (currentUrl === previousUrl) { %> -->

                <a class="back-button double-back" href="javascript:history.back(-1)">Back</a>

                <!-- < % i++ %>
                < % } %> -->




            </section>
            <!-- <section class="one-recipe-container-instructions">
                

            </section> -->
        </article>

    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>